@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

:root {
  --headers: #222;
  --text: #465b52;
  --bg-nav: #e3e6f3;
  --text-nav: #1a1a1a;
  --text-nav-hover: #088178;
  --border-featureItem: #cce7d0;
  --text-brand: #606063;
  --text-product: #1a1a1a;
  --icon-stars: rgb(243, 181, 25);
  --icon-bg: #e8f6ea;
  --skeleton-bg: #e0e0e0;
  --skeleton-text: #d6d6d6;
  --skeleton-img: #d6d6d68c;
  --text-banner: #fff;
  --text-discount: #ef3636;
  --text-button: black;
  --bg-button: white;
}

body {
  width: 100%;
}

h1 {
  font-size: 3.1rem;
  line-height: 4rem;
  color: var(--black);
}

h2 {
  font-size: 2.8rem;
  line-height: 3.37rem;
  color: var(--black);
}

h4 {
  font-size: 1.2rem;
  color: var(--black);
}

h6 {
  font-weight: 700;
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
  color: var(--text);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.9rem 1.94rem;
  color: black ;
  background-color: var(--bg-button);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 5rem;
  background-color: var(--bg-nav);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

header > div > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  /* gap: 1rem; */
}

header > div > ul li {
  padding: 0 1.1rem;
  position: relative;
}

header > div > ul > li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-nav);
  transition: 0.3s ease;
}

header > div > ul > li a:hover,
header > div > ul > li a:active,
header > div > ul > li a.active {
  color: var(--text-nav-hover);
}

header > div > ul > li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--text-nav-hover);
  position: absolute;
  bottom: -0.3rem;
  left: 1.1rem;
  border-radius: 1rem;
  transition: width 0.3s ease;
}

header > div > ul > li a:hover::after,
header > div > ul > li a:active::after,
header > div > ul > li a.active::after {
  width: 30%;
}

#hero {
  background-image: url("./img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 1rem;
}

#hero h1 {
  color: var(--text-nav-hover);
}

#hero button {
  background-image: url("./img/button.png");
  background-color: transparent;
  color: var(--text-nav-hover);
  border: 0;
  padding: 0.9rem 5rem 0.9rem 4rem;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1.2rem; */
  flex-wrap: wrap;
}

#feature .fa-box {
  width: 11.2rem;
  text-align: center;
  padding: 1.3rem 1rem;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border-featureItem);
  border-radius: 4px;
  margin: 1rem 0;
  transition: all 0.3s ease;
}

#feature .fa-box:hover,
#feature .fa-box:active {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  transform: translateY(-3px);
}

#feature .fa-box img {
  width: 100%;
  margin-bottom: 0.4rem;
}

#feature .fa-box h6 {
  padding: 0.55rem 0.5rem 0.45rem 0.5rem;
  line-height: 1;
  border-radius: 4px;
  color: var(--text-nav-hover);
  display: inline-block;
}

/* Products */
#products1 {
  text-align: center;
}

#products1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2rem;
}

#products1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 0.8rem 0.9rem;
  border: 1px solid var(--border-featureItem);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 1rem 0;
  transition: 0.2s ease;
  position: relative;
}

#products1 .pro:hover,
#products1 .pro:active {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#products1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#products1 .pro .des {
  text-align: start;
  padding: 0.7rem 0;
}

#products1 .pro .des span {
  color: var(--text-brand);
  font-size: 0.83rem;
}
#products1 .pro .des h5 {
  padding-top: 0.45rem;
  color: var(--text-product);
  font-size: 1rem;
}

#products1 .pro .des i {
  font-size: 0.9rem;
  color: var(--icon-stars);
}

#products1 .pro .des h4 {
  padding-top: 0.45rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-nav-hover);
}

#products1 .pro .cart {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 2.7rem;
  /* font-weight: 500; */
  color: var(--text-nav-hover);
  transition: 0.2s ease;
  background-color: var(--icon-bg);
  border: 1px solid var(--border-featureItem);
  position: absolute;
  bottom: 1.25rem;
  right: 0.625rem;
}

#products1 .pro .cart:hover,
#products1 .pro .cart:active {
  transform: scale(1.05);
}

/* Skeleton list */
.skeleton {
  position: relative;
  overflow: hidden;
  width: 23%;
  margin: 1rem 0;
  min-width: 15rem;
  background: var(--skeleton-bg);
  border-radius: 1.5rem;
  padding: 1rem;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -9.375rem;
  height: 100%;
  width: 9.375rem;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.5s infinite;
  border-radius: 1.5rem;
}

.img-skeleton {
  width: 100%;
  height: 16.25rem;
  border-radius: 1.25rem;
  margin-bottom: 0.4375rem;
  background-color: var(--skeleton-img);
}

.des-skeleton .brand-skeleton,
.des-skeleton .name-skeleton,
.des-skeleton .stars-skeleton,
.des-skeleton .price-skeleton {
  height: 0.875rem;
  margin-bottom: 0.3125rem;
  border-radius: 0.3125rem;
  background: var(--skeleton-text);
}

.des-skeleton .name-skeleton {
  width: 70%;
}

.des-skeleton .brand-skeleton {
  width: 50%;
}

.des-skeleton .stars-skeleton {
  width: 40%;
}

.des-skeleton .price-skeleton {
  width: 30%;
  height: 1.125rem;
  margin-top: 0.1875rem;
}

@keyframes shimmer {
  0% {
    left: -9.375rem;
  }
  100% {
    left: 100%;
  }
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#banner h4 {
  color: var(--text-banner);
  font-size: 1rem;
}

#banner h2 {
  color: var(--text-banner);
  font-size: 1.9rem;
  padding: 0.8rem 0;
}


#banner h2 span {
  color: var(--text-discount);

}

#banner button:hover,
#banner button:active {
  background-color: var(--text-nav-hover);
  color: var(--bg-button);
}


/* New Arrivals */
#products2 {
  text-align: center;
}

#products2 .pro-container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2rem;
}

#products2 .pro {
  width: 23%;
  min-width: 250px;
  padding: 0.8rem 0.9rem;
  border: 1px solid var(--border-featureItem);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 1rem 0;
  transition: 0.2s ease;
  position: relative;
}

#products2 .pro:hover,
#products2 .pro:active {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#products2 .pro img {
  width: 100%;
  border-radius: 20px;
}

#products2 .pro .des {
  text-align: start;
  padding: 0.7rem 0;
}

#products2 .pro .des span {
  color: var(--text-brand);
  font-size: 0.83rem;
}
#products2 .pro .des h5 {
  padding-top: 0.45rem;
  color: var(--text-product);
  font-size: 1rem;
}

#products2 .pro .des i {
  font-size: 0.9rem;
  color: var(--icon-stars);
}

#products2 .pro .des h4 {
  padding-top: 0.45rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-nav-hover);
}

#products2 .pro .cart {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 2.7rem;
  color: var(--text-nav-hover);
  transition: 0.2s ease;
  background-color: var(--icon-bg);
  border: 1px solid var(--border-featureItem);
  position: absolute;
  bottom: 1.25rem;
  right: 0.625rem;
}

#products2 .pro .cart:hover,
#products2 .pro .cart:active {
  transform: scale(1.05);
}

#sm-banner .banner-box {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}